<%= form_for(go_manager) do |f| %>
  <% if go_manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(go_manager.errors.count, "error") %> prohibited this go_manager from being saved:</h2>

      <ul>
      <% go_manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
