<h1>Editing Appraisal Overall Phrase</h1>

<%= render 'form', appraisal_overall_phrase: @appraisal_overall_phrase %>

<%= link_to 'Show', @appraisal_overall_phrase %> |
<%= link_to 'Back', appraisal_overall_phrases_path %>
